@media (min-width: 450px) {
  div.pt-7 {
    padding-top: 1em !important;
  }
}

.pt-7 {
  padding-top: 7em !important;
}

.imagen {
  width: 7em;
  border-radius: 50% !important;
  box-shadow: 0 0.5rem 1rem rgba(80, 141, 228, 0.25) !important;
// box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.mt-1em {
  margin-top: 1em;
}

.form-control {
  --background: transparent !important;
  --color: black;
  --padding-start: 2px;
  --highlight-color-focused: white;
  --border-color: black;
  // --highlight-color-invalid:red;
}

.shadow{
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.25) !important;
}

.btn-dark {
  --background: none !important;

  --background-hover-opacity: none !important;
  --background-focused-opacity: none !important;
  --background: black !important;
  --color: white !important;
  --color-focused: black !important;
  --color-hover: black !important;
  --background-hover: white !important;
  --background-focused: white !important;
}

.btn-light {
  --background: none !important;
  --background-hover-opacity: none !important;
  --background-focused-opacity: none !important;
  --background: white !important;
  --color: black !important;
  --color-focused: white !important;
  --color-hover: white !important;
  --background-hover: black !important;
  --background-focused: black !important;
}

.form-control.item-has-focus > ion-label {
  color: white !important;
}

.form-control.item-has-focus > ion-input {
  color: white !important;
}

.form-control{
  --highlight-color-valid:white  !important;
}


