<!-- <ion-content class="bg-gradient"> -->
  <app-menu *ngIf="objLogin.length> 0"> </app-menu>
  <ion-router-outlet></ion-router-outlet>
<ion-content class="bg-gradient" *ngIf="objLogin.length==0">
  <div class="pt-7" >
    <ion-img class="imagen mr-auto ml-auto mt-1em" src="../../../assets/icon/logo1.png"></ion-img>
    <div class="inputs w-75 ml-auto mr-auto">
      <ion-item class="form-control">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="usuario"></ion-input>
      </ion-item>
      <ion-item class="form-control mt-0">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="contra" type="password"></ion-input>
      </ion-item>
      <div class="mt-2 text-center">
        <ion-button (click)="ingresar()" size="medium" class="btn-dark shadow">Ingresar</ion-button>
      </div>
    </div>
  </div>
</ion-content>


