<ion-body style=" height: 100%; background: linear-gradient(#36D1DC,#5B86E5);">



  <ion-img class="imagen" src="../../../assets/icon/logo1.png"></ion-img>

  <div class="inputs">

    <ion-item style="--padding-start:2px; --color:white ;" color="transparent" class="transparent">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item style="--padding-start:2px;margin-top: 4%; --color:white" color="transparent" class="transparent">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>


    <div class="boton">

      <ion-button  size="medium" color="dark" class="boton" (click)="ingresar()">Ingresar</ion-button>

    </div>

  </div>

</ion-body>
